/* ejemplo1.css   AB13027  */
pais {background-color:gray;}
moneda{background-color: purple;display: block;}
codigo{background-color:seagreen;display: block;}
idioma{background-color: midnightblue;display:block;}
oficial{color: mintcream;display: inline;}
autoctono{color: moccasin;display: inline;}
segundo{color: palegoldenrod; display: inline;}

departamento {background-color:black; display:block;}
cabecera {color:white; display:inline;}  
habitantes{color:yellow; display:inline;}
altura {color:orange; display:inline;}


